.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/auth-bg.jpg") no-repeat center center/cover;
}

.loginBox {
  width: 350px;
  padding: 40px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.15);
  
  backdrop-filter: blur(30px) saturate(200%);
  -webkit-backdrop-filter: blur(25px) saturate(180%);

  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.25),
    inset 0 0 15px rgba(255, 255, 255, 0.15);

  color: white;
}

